body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
}

.login-form,
.mfa-form {
    display: flex;
    flex-direction: column;
}

.input-field {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.btn-login,
.btn-verify {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-login:hover,
.btn-verify:hover {
    background-color: #45a049;
}

.mfa-container {
    margin-top: 20px;
}

.qr-code {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-box {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    width: 350px;
}

.home-title {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.home-actions {
    display: flex;
    justify-content: space-between;
}

.btn-disable-mfa,
.btn-logout {
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 45%;
}

.btn-disable-mfa:hover,
.btn-logout:hover {
    background-color: #45a049;
}